body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: rgb(104, 104, 104);
}

#mainform{
margin-top:50px;
}
.panel-info  .panel-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color:#bce8f1;
}

.panel-info {
    border-color: #bce8f1;
}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
    color: #fff;
    background-color: #449d44;
    border-color: rgb(133, 133, 135);
}

.btn-info {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}

/* #login-nyhedsbrev{
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
} */