<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>

   <p id="shortText"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae pharetra nunc. In tortor enim, auctor vitae consequat
    in, imperdiet eu quam. Phasellus porta, turpis vitae dictum fermentum, metus sem feugiat ex, vel posuere felis nisl non
    erat. Ut sed placerat enim. Etiam eget elit venenatis, dapibus mi ut, imperdiet risus. Quisque convallis pharetra sapien,
    sit amet placerat ex pharetra malesuada. Sed et placerat augue, at rhoncus risus
    <a id="link" >læs mere</a></p>
    <div id="more"  style="display:none;">
        <p>Sed eleifend lectus id semper accumsan. Sed lobortis id ligula eget blandit. Integer interdum iaculis nunc, sed porttitor magna tincidunt in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aliquam lobortis accumsan tempor. Aliquam sollicitudin pulvinar est, quis convallis tellus.</p>
    
    </div>






    <script src="/javascripts/læsmere.js"></script>



</body>

</html>